/*!
Styles for Steins;Gate Web wallpaper
*/
/* =============================================================================
  Set Global variables
============================================================================= */
html,
body,
div,
h1,
p,
a,
video {
  margin: 0;
  padding: 0;
}

:root {
    --bg-comp01-timing: 0.025s;
    --bg-comp02-timing: 0.1s;
    --bg-comp03-timing: 0.05s;
    --bg-comp04-timing: 0.1s;    
    --bg-comp05-timing: 0.025s;
    --bg-comp06-timing: 0.05s;      
}

/* =============================================================================
  HTML, BODY
============================================================================= */
html,
body {
  height: 100%;
}

body {
    background: rgb(0,0,0);
    overflow: hidden;
}

@keyframes flickerAnimation {
    0%   { opacity:1; }
    100% { opacity:0; }
}
@-o-keyframes flickerAnimation{
    0%   { opacity:1; }
    100% { opacity:0; }
}
@-moz-keyframes flickerAnimation{
    0%   { opacity:1; }
    100% { opacity:0; }
}
@-webkit-keyframes flickerAnimation{
    0%   { opacity:1; }
    100% { opacity:0; }
}

/* =============================================================================
  Full screen video 
============================================================================= */
.time-machine {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: -9;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

/*
 * Overlay Graphics
 */
div.bg-components
{
    position: relative;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
}

div.bg-components div 
{
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    background-size: cover;
    -moz-background-size: cover;  /* Firefox 3.6 */
    background-position: center;  /* Internet Explorer 7/8 */
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

div.bg-base
{
    background-image: url('../img/bg_base.png');
    z-index: -10;
}

div.bg-base-copyright
{
    background-image: url('../img/bg_base_copyright.png');
    z-index: -10;
}

div.bg-comp01 
{
    background-image: url('../img/bg_comp01.png');
    z-index: -1;
    -webkit-animation: flickerAnimation var(--bg-comp01-timing) infinite;
    -moz-animation: flickerAnimation var(--bg-comp01-timing) infinite;
    -o-animation: flickerAnimation var(--bg-comp01-timing) infinite;
     animation: flickerAnimation var(--bg-comp01-timing) infinite;
}

div.bg-comp02 
{
    background-image: url('../img/bg_comp02.png');
    z-index: -2;
    -webkit-animation: flickerAnimation var(--bg-comp02-timing) infinite;
    -moz-animation: flickerAnimation var(--bg-comp02-timing) infinite;
    -o-animation: flickerAnimation var(--bg-comp02-timing) infinite;
     animation: flickerAnimation var(--bg-comp02-timing) infinite;
}

div.bg-comp03 
{
    background-image: url('../img/bg_comp03.png');
    z-index: -3;
    -webkit-animation: flickerAnimation var(--bg-comp03-timing) infinite;
    -moz-animation: flickerAnimation var(--bg-comp03-timing) infinite;
    -o-animation: flickerAnimation var(--bg-comp03-timing) infinite;
     animation: flickerAnimation var(--bg-comp03-timing) infinite;
}

div.bg-comp04 
{
    background-image: url('../img/bg_comp04.png');
    z-index: -4;
    -webkit-animation: flickerAnimation var(--bg-comp04-timing) infinite;
    -moz-animation: flickerAnimation var(--bg-comp04-timing) infinite;
    -o-animation: flickerAnimation var(--bg-comp04-timing) infinite;
     animation: flickerAnimation var(--bg-comp04-timing) infinite;
}

div.bg-comp05 
{
    background-image: url('../img/bg_comp05.png');
    z-index: -5;
    -webkit-animation: flickerAnimation var(--bg-comp05-timing) infinite;
    -moz-animation: flickerAnimation var(--bg-comp05-timing) infinite;
    -o-animation: flickerAnimation var(--bg-comp05-timing) infinite;
     animation: flickerAnimation var(--bg-comp05-timing) infinite;
}

div.bg-comp06-container
{
    position: relative;
    z-index: -6;
    -webkit-animation: flickerAnimation var(--bg-comp06-timing) infinite;
    -moz-animation: flickerAnimation var(--bg-comp06-timing) infinite;
    -o-animation: flickerAnimation var(--bg-comp06-timing) infinite;
     animation: flickerAnimation var(--bg-comp06-timing) infinite;
}

img.bg-comp06
{
    display: block;
    object-fit: cover;
}